<table class="pb-12" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <!-- Title h2 -->
      <x-titles.title-h2>Produits similaires</x-titles.title-h2>

      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <!-- Push Products -->
          <td class="pl-3 xs:p-0 xs:block xs:px-3 xs:pb-6">
            <table cellpadding="0" cellspacing="0" border="0">
              <tr>
                <x-products.product-push brand="SPECIALIZED" desc="" current-price="79€" packshot="https://contents.mediadecathlon.com/p2704990/k$9404857cc2b0ddb13c733d6ed9b5a449/sq/maillot-velo-route-manches-courtes-ete-homme-endurance-bleu-ardoise.jpg?f=280x0" />
                <x-products.product-push brand="VAN RYSEL" desc="" current-price="70€" packshot="https://contents.mediadecathlon.com/p2464634/k$e9fe770c75904db361abdc1f334aa521/sq/cuissard-de-velo-a-bretelles-homme-rc100-noir.jpg?f=280x0" />
              </tr>
            </table>
          </td>

          <!-- Push Products -->
          <td class="pr-3 xs:p-0 xs:block xs:px-3 xs:pb-6">
            <table cellpadding="0" cellspacing="0" border="0">
              <tr>
                <x-products.product-push brand="SPECIALIZED" desc="" current-price="79€" packshot="https://contents.mediadecathlon.com/p2553835/k$1eced3c47597be58e6a0c7bbc7fd882d/sq/gants-velo-route-900-noir.jpg?f=280x0" />
                <x-products.product-push brand="VAN RYSEL" desc="" current-price="70€" packshot="https://contents.mediadecathlon.com/p2581519/k$c81925bb3e51221c2353fcb983731775/sq/porte-bidon-velo-500-noir.jpg?f=280x0" />
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
</table>
