<!-- SECTION Header -->
<table class="w-full" cellpadding="0" cellspacing="0" border="0" align="center">
  <tr>
    <td>
      <table class="w-full" cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
          <td class="bg-no-repeat bg-top bg-cover" background="https://image.marketing.decathlon.com/lib/fe9213727663007e76/m/1/d571d52d-c27f-4007-964d-9fa623385483.png">
            <x-v-image width={{emailMaxWidth}} height="330px" image="https://image.marketing.decathlon.com/lib/fe9213727663007e76/m/1/d571d52d-c27f-4007-964d-9fa623385483.png">
              <!-- Containing Table -->
              <table class="w-full" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td class="h-330 text-left align-text-top">
                    <!-- Headline -->
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="left">
                      <tr>
                        <td class="logo w-32 pt-5 pl-5"><img src="https://image.marketing.decathlon.com/lib/fe9213727663007e76/m/1/1b1600d9-58c8-4026-b922-91cf3eec2bb7.png" alt="Decathlon" /></td>
                      </tr>
                    </table>
                    <!-- END Headline -->
                  </td>
                </tr>
              </table>
            </x-v-image>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END SECTION Apps block -->
