<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <!-- Title h2 -->
      <x-titles.title-h2>Articles de votre panier</x-titles.title-h2>

      <!-- Cart Products -->
      <x-products.product-cart brand="SPECIALIZED" desc="Reconditionné - Vélo de route - Specialized S-Works Tarmac - TRES BON" size="56" color="Noir" old-price="10 999€" current-price="7 079€" packshot="https://contents.mediadecathlon.com/m16169159/k$0a06f4b10554ece1313ee22e00424ee6/sq/reconditionne-velo-de-route-specialized-s-works-tarmac-tres-bon.jpg?f=280x280" />
      <x-divider class="bg-color-alt-white dark:bg-color-alt-black" space-y="40px" space-x="20px" height="2px" />
      <x-products.product-cart brand="VAN RYSEL" desc="CASQUE VELO ROUTE ROADR 500 MIPS NOIR" size="52" color="White" current-price="70€" packshot="https://contents.mediadecathlon.com/p2153477/k$018b60aee25239b6de7f79573db5790a/sq/casque-velo-route-roadr-500-mips-noir.jpg?f=280x280" />
      <x-divider class="bg-color-alt-white dark:bg-color-alt-black" space-y="40px" space-x="20px" height="2px" />
      <p class="fl text-base xs:text-xs font-bold text-right">Total : 7149€</p>
      <x-button class="mt-8 mb-12" align="center" font-color="text-white" bg-color="bg-color-blue-prim">Voir mon panier</x-button>
    </td>
  </tr>
</table>
