<table class="pb-12" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td class="px-5 pb-1">
            <x-button class="mt-8" align="left" font-color="text-white" bg-color="bg-color-blue-prim">Discuter avec Whatsapp</x-button>
          </td>
          <td class="px-5 pb-1">
            <x-button class="mt-8" align="left" font-color="text-white" bg-color="bg-color-blue-prim">Discuter avec Messenger</x-button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
