<table class="" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td>
      <!-- Title h2 -->
      <x-titles.title-h2>Besoin d'aide ?</x-titles.title-h2>

      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <!-- Picto -->
          <td class="px-5 pb-1">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <x-pictos.picto-simple desc-1="Livraison offerte" desc-2="à partir de 49,99€ (1) (2)" packshot="https://mathieu-callaghan.com/decathlon/emails/images/picto-livraison-offerte.png" url="https://decathlon.fr" />
                <x-pictos.picto-simple desc-1="Retrait offert 1h" desc-2="en magasin" packshot="https://mathieu-callaghan.com/decathlon/emails/images/picto-retrait-offert.png"  url="https://decathlon.fr" />
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <!-- Picto -->
          <td class="px-5 pb-1">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <x-pictos.picto-simple desc-1="Paiement 100% <br />sécurisé" packshot="https://mathieu-callaghan.com/decathlon/emails/images/picto-paiement-securise.png" url="https://decathlon.fr" />
                <x-pictos.picto-simple desc-1="Retours & échanges" desc-2="offerts 365 jours (1)" packshot="https://mathieu-callaghan.com/decathlon/emails/images/picto-retours-et-echanges.png"  url="https://decathlon.fr" />
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <!-- Picto -->
          <td class="px-5 pb-1">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <x-pictos.picto-simple desc-1="Service client" desc-2="à votre écoute" packshot="https://mathieu-callaghan.com/decathlon/emails/images/picto-service-client.png"  url="https://decathlon.fr" />
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <p class="fl text-xs text-gray-300 text-center"> (1) À l’exception des produits vendus par nos partenaires (2) Hors produits d’investissment (3) Pour les produits vendus par nos partenaires : retours offerts pendant 14 jours à compter de la réception de votre commande.</p>
          </td>
        </tr>
      </table>
    </td>
</table>
